/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/img/pp-flag/*
/web/img/pp-logo/*
/web/img/fb-covers/*
*~

*.sublime*
