<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{% block title %}PAPI{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link href="/css/social-fa.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        {% endblock %}

        {% block stylesheets_extra %}{% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <nav class="light-blue lighten-1 valign-wrapper" role="navigation">
                <div class="nav-wrapper container valign"><a id="logo-container" href="/" class="brand-logo ">
                    <img src="/img/piratePartyRegistry_smaller.png" class="">
                </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/doc/api/v1">API Documentation</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="/doc/api/v1">API Documentation</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>

            {% block content %}
                <div class="section no-pad-bot" id="index-banner">
                    <div class="container">
                        <br><br>
                        <h1 class="header center orange-text">Pirate Party Registry</h1>
                        <div class="row center">
                            <h5 class="header col s12 light">Central list of all Pirate Parties active around the world.</h5>
                        </div>
                        <div class="row center">
                            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                        </div>
                        <br><br>
                    </div>
                </div>
                <div class="container">
                    <div class="section">
                        <!--   Icon Section   -->
                        <div class="row">
                            <div class="col s12 m4">
                                <div class="icon-block">
                                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                                    <h5 class="center">Speeds up development</h5>
                                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="icon-block">
                                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                                    <h5 class="center">User Experience Focused</h5>
                                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="icon-block">
                                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                                    <h5 class="center">Easy to work with</h5>
                                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="section">
                    </div>
                </div>
            {% endblock content%}

            {% block footer %}
            <footer class="page-footer blue-grey lighten-1" style="padding-top:0px;">
                <div class="footer-copyright">
                    <div class="container">
                        Maintained by <a class="orange-text text-lighten-3" href="http://piratetimes.net/">Pirate Times</a> and <a class="orange-text text-lighten-3" href="http://www.pp-international.net/">Pirate Parties International</a>.
                    </div>
                </div>
            </footer>
            {% endblock footer%}
        {% endblock body %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="/js/materialize.js"></script>
            <script src="/js/init.js"></script>
        {% endblock javascripts %}
        
        {% block javascripts_extra %}
        {% endblock javascripts_extra %}
    </body>
</html>