# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    # Ignore this
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    fb_app_id: ~
    fb_app_secret: ~
    fb_access_token: ~

    tw_consumer_key: ~
    tw_consumer_secret: ~
    tw_oauth_access_token: ~
    tw_oauth_access_token_secret: ~

    gplus_api_key: ~
