# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    ScraperServices:
        class: AppBundle\Service\ScraperServices
        arguments: [ @doctrine.orm.entity_manager, '@service_container' ]

    FacebookService:
        class: AppBundle\Service\FacebookService
        arguments: [ @doctrine.orm.entity_manager, '@service_container' ]

    TwitterService:
        class: AppBundle\Service\TwitterService
        arguments: [ @doctrine.orm.entity_manager, '@service_container' ]

    GoogleService:
        class: AppBundle\Service\GoogleService
        arguments: [ @doctrine.orm.entity_manager, '@service_container' ]
