/* Custom Stylesheet */

/* 
	General
*/
.material-icons .md-light { 
	color: rgba(255, 255, 255, 1); 
}


/*
 Front page
 */



.pplist tbody img {
	max-width: 80px;
	max-height: 80px;
}

.ppcard .logo-wrapper {
	min-width: 120px;
}

div.ppcard > div {
	min-height: 150px;
}

.section .row div.ppcard {
	max-width: 450px;
}

.container div.section div.pplist {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.pplist .social-reach {
	min-width: 140px;
	text-align: left;
}

.pplist .party-name {
	font-size: 1.2em;
	padding-right: 50px;
}

.pplist a {
	color: rgba(0, 0, 0, 0.870588);
}

.pplist a:hover {
	text-decoration: underline;
}

/*
	Party detail page
 */
.container div.party-detail-header {
		max-width: 851px;
		max-height: 315px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		position:relative;
		z-index:-2;
		display:block;
		box-shadow: none;
}

.container div.party-detail-header .card-image {
	max-height: 100%;
	overflow: visible;
}

.pickgradient {
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.container div.party-detail-header .card-image .pickgradient img {
  position:relative;
  z-index:-1;
  display:block;
}

.party-detail-header span.card-title {
	font-size: 2em;
    font-weight: 400;
    text-shadow: 0 1px 0 black;
    margin-left: 170px;
    line-height: 0.8em;
}

.party-detail-header span.card-title small {
	font-size: 0.5em;
}

.party-detail-header .logo {
	max-width: 150px;
	max-height: 150px;
	position: absolute;
    bottom: -70px;
    left: 0;
    margin: 20px;
    z-index: 20;
    border: 1px solid gray;
    background-color: white;
}

.party-detail-header .defunct {
	position: absolute;
    bottom: -55px;
    right: 0;
    margin: 20px;
    z-index: 20;
    border: 5px solid red;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    font-size: 2em;
    font-weight: bolder;
    color: red;
}

.party-detail-header-mobile {
	width: 100%;
}

.party-detail-header-mobile .logo img {
	width: 120px;
	max-width: 40%;
	max-height: 40%;
}

.party-detail-header-mobile h2 {
	font-size: 2em;
}

.party-detail-header-mobile h2 small {
	font-size: 0.5em;
}

.party-detail-header-mobile .logo {
	margin-top: 20px;
}

.party-detail-cards {
	max-width: 851px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}

dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
	color: black;
}
dt:after {
	content: ":";
}

dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}

.party-detail-cards .basic-info .flag img {
	max-width: 70px;
	max-height: 70px;
	position: absolute;
    top: 10px;
    right: 10px;
    margin: 20px;
}

.party-detail-cards .defunct {
	position: absolute;
    top: 14px;
    right: 10px;
    margin: 10px;
    z-index: 20;
    border: 4px solid red;
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: white;
    font-size: 1.75em;
    font-weight: bolder;
    color: red;
}

.contact-details .card-content p {
	padding-left: 15px;
	vertical-align: middle;
}

.contact-title {
	font-weight: bold;
	padding-top: 10px;
}

.websites div {
	padding-top: 10px;
}

.parent-org img {
	max-width: 50px;
	max-height: 50px;
}

.parent-org .org-body {
	vertical-align: middle;
    line-height: 50px;
    font-size: 1.2em;
    margin-top: 5px;
    margin-left: 15px;
}

.parent-org .org-body img {
	margin-right:15px;
}

.membership img {
	max-width: 50px;
	max-height: 50px;
}

.membership .org-body {
	vertical-align: middle;
    line-height: 50px;
    font-size: 1.1em;
    margin-top: 5px;
    margin-left: 15px;
}

.membership .org-body a {
	color: inherit;
}

.membership .org-body small {
	font-size:0.8em;
	color: gray;
}

.membership .org-body img {
	margin-right:15px;
}

.social .card-content .social-text {
	font-size: 1.4em;
	font-weight: 400;
	width:80%;
	text-align: center;
}

.social .icon-wrapper {
	padding: 20px;
}

.social div.card-content {
	padding: 0;
}

.social-media-graph-card-action{
	padding-bottom: 10px !important;
}
.social-media-graph-card-content {
	padding-top: 0px !important;
}

.youtube .social-text-item {
	padding-left: 30px;
    padding-right: 30px;
}

.youtube-videos .card {
	box-shadow: none;
	z-index: -2;
}

.youtube-videos h3 {
	font-size: 1.7em;
    color: gray;
    padding-left: 12px;
}

.youtube-videos .card .card-image .card-title {
	font-size: 1em;
	font-weight: bold;
	max-width: 100%;
}

.youtube-videos .card .card-image img {
	position:relative;
	z-index:-1;
	display:block;
}

.headquarters #map {
	height: 380px;
}

.brand-logo img {
	max-height: 50px;
	vertical-align: middle;
}

/*
	Static pages
 */

.singlePage h1 {
	font-size: 2.5em;
}

.singlePage h2 {
	font-size: 1.5em;
}

/*
Sorting
 */

.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.SocialMediaStatsButton {
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Picture list page
*/

.card .card-image .card-title-top {
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
}

.card .card-image .card-title-bottom {
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.card-image-img {
	height: 200px;
	background-size: contain !important;
	background-repeat: no-repeat !important;
  	background-position: 50% 50% !important;
  	background-color: #d3d3d3;
	max-width: 100%;
	overflow: hidden;
	margin-left: auto;
    margin-right: auto;
 }

.card-belt {
	width: 100%;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
}

.card-belt-font {
	font-weight: bold;
	background-color: black;
  	color: #fff;
  	padding: 0.6rem;
  	padding-right: 50px;

	
}

.card-belt-social-img {
	display: inline !important;
	float: right;
}
.display-inline {
	display: inline !important;
}

.filter-button{
	background: rgb(41, 182, 246);
}



.filter-menu-buttons {
	width: 100%;
}




.arrow-color{
	color: #B1E4FC;
}

.dropdown-font-button {
	color: #fff !important;
}