{% extends 'base.html.twig' %}
{% block javascripts_extra %}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/js/ng-infinite-scroll.min.js"></script>
	<script src="/js/pictureList.js"></script>
{% endblock javascripts_extra %}
{% block title %}AppBundle:Template:listPictures{% endblock %}

{% block body %}
{% block content %}
{% verbatim %}
    <div class="container"  ng-app="app" ng-controller="pictureController">
        <div class="section valign-wrapper">
            <div class="singlePage valign" infinite-scroll='loadMore()' infinite-scroll-distance='1'>
                <div class="row">
                    <div class="col m3 s6 placement-class" ng-repeat="items in data track by $index">
                         <div class="card">
                            <div class="card-image">
                                <img ng-src="{{items.url}}">
                              <span class="card-title"><img ng-src="/img/{{items.socialPlatform}}.png" style="width:29px;height:29px;"></span>
                            </div>
                            <div class="card-content right-align">
                              <p><b>Viewed:</b> {{items.likes}} times</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-init="fireEvent()"></div>
        </div>
        <br><br>

    </div>
{% endverbatim %}
{% endblock content%}
{% endblock %}
