{% extends 'base.html.twig' %}


{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Pirate Party Registry</h1>
            <div class="row center">
                <h5 class="header col s12 light">Central list of all Pirate Parties active around the world.</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section valign-wrapper">
            <div class="row pplist valign">

            	{% for party in parties %}
	                <div class="col s12 m8 l6 ppcard">
	                    <div class="valign-wrapper">
	                    	<div class="col s3 valign-wrapper logo-wrapper">
	                    		<img src="{{ party.logo }}" class="valign">
	                    	</div>
	                    	<div class="col s9 valign pplabel">
		                        <h5 class=""><a href="{{ party.link }}">{{ party.label }}</a></h5>
		                        <p class="left-align">
		                        	<div class="chip">
									    {{ party.type | title }}
									</div>

									{% if party.membership %}
										{% if party.membership.ppeu %}
											<div class="chip">
											    PPEU
											</div>
										{% endif %}
										{% if party.membership.ppi %}
											<div class="chip">
											    PPI
											</div>
										{% endif %}
									{% endif %}
								</p>
	                    	</div>

	                    </div>
	                </div>
            	{% endfor %}
                
            </div>
        </div>
        <br><br>
        <div class="section">
        </div>
    </div>
{% endblock content%}